%fieldset
  %legend
    = t(".pull_from_source")

  .form-group
    %label{ :for => :use_gitrepo }
      = t(".use_gitrepo")

    = select_tag :use_gitrepo, booleans_for_select(@proposal.pretty_attributes.use_gitrepo), :class => "form-control", "data-change" => "use_gitrepo;use_gitrepo;boolean"
